# Auto detect text files and perform LF normalization
* text=auto

# Extensions spécifiques de MATLAB et Simulink enregistrées comme binaires
*.mlx     binary
*.mat     binary
*.fig     binary
*.mlapp   binary
*.mdl     binary
*.slx     binary
*.mdlp    binary
*.slxp    binary
*.sldd    binary
*.p       binary

# Extensions pour les fichiers MEX (compilés pour différentes plateformes)
*.mexa64  binary
*.mexmaci64 binary
*.mexmaca64 binary
*.mexw64  binary

# Autres formats binaires courants
*.xlsx    binary
*.jpg     binary
*.jpeg    binary
*.png     binary
*.pdf     binary
*.docx    binary
*.pptx    binary
*.zip     binary
*.rar     binary
*.tar     binary
*.gz      binary
*.ijm      binary